/* Basic Style */
:root {
  --main-color: #333;
  --secondary-color: #888;
}

.main {
  background-color: #f8f8f8;
  color: var(--main-color);
  font-family: Lato, sans-serif;
}

.logo {
  width: 500px;
  margin: 0 auto;
  text-align: right;
  font-family: fantasy, cursive;
}

@media (max-width: 768px) {

  .logo {
    text-align: center;
  }

}

.logo__image {
  width: 100%;
}

.todo-list {
  width: 500px;
  margin: 0 auto;
}

.todo-list__task-title {
  display: inline-block;
  flex-grow: 1;
}

.tasks-block__add-item-content {
  display: flex;
}

.tasks-block {
  margin: 0;
  padding: 0;
}

.todo-list__task,
.tasks-block__title {
  list-style: none;
}

.todo-list__task-title-edit,
.tasks-block__button {
  outline: none;
}

.tasks-block__button {
  background: none;
  border: 0;
  color: var(--secondary-color);
  font-size: 15px;
  width: 60px;
  cursor: pointer;
}

.tasks-block__button:hover {
  color: #3a3a3a;
}

/* Heading */
.tasks-block__title,
.tasks-block__add-item-label {
  color: var(--main-color);
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid var(--main-color);
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}

.todo-list__task-title-edit {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  padding: 0 9px;
  border: 1px solid #ddd;
  border-radius: 6px;
  color: var(--secondary-color);
  flex-grow: 1;
}

.todo-list__task-title-edit:focus {
  color: var(--main-color);
}

/* New Task */
.tasks-block__add-item-label {
  display: block;
  margin-bottom: 20px;
}

/* Task list */
.todo-list__task {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todo-list__task-completion-control {
  margin: 0 10px;
}

.todo-list__task-title-label {
  padding-left: 10px;
  font-size: 18px;
}

.tasks-block__button_delete-image {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}

.tasks-block__button_delete-image:hover {
  transform: rotateZ(0);
}

/* Completed */
.tasks-block-completed .todo-list__task-title-label {
  text-decoration: line-through;
  color: var(--secondary-color);
}

/* Edit Task */
.todo-list__task .todo-list__task-title-edit,
.todo-list__task_editable .todo-list__task-title-label {
  display: none;
  width: 226px;
}

.todo-list__task_editable .todo-list__task-title-edit {
  display: inline-block;
  width: 226px;
}